PUBLIC_FEATURE_INVENTORY_SERIALS=0
PUBLIC_FEATURE_MOBILE_PUSH=0
PUBLIC_FEATURE_CLIENT_MOBILE_POS=0
PUBLIC_FEATURE_CATALOG_QUICK_ADD=0

PUBLIC_FEATURE_SHIFT_HANDOFF=0
PUBLIC_FEATURE_TEAM_INVITE=0
PUBLIC_FEATURE_ONBOARDING_TOUR=0
PUBLIC_FEATURE_SALES_DEBIT_NOTE=0
PUBLIC_FEATURE_GRE=0
